@import "tailwindcss";

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* Beweeg 8px omhoog */
  }
}

.move-up-down {
  animation: moveUpDown 1.2s ease-in-out infinite; /* 0.5s duur voor snelle beweging */
}

